<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport"content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes"/>
    <meta charset="UTF-8">
    <title>东江水务点餐系统</title>
</head>
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<body>
<h3>第五水厂点餐系统欢迎您！</h3>
时间：{{ userdatetime }}<br>
    <a href="/">登陆</a> <a href="/userregister/">注册</a> <a href="/userbook_html/">订餐</a> <a href="/usercheck_html/">查询</a> <a href="/usermeau_html_html/">菜单</a> <a href="/userhelp_html/">帮助</a> <a href="/user_html/">{{ request.user }}</a> <a href="/userlogout/">退出</a>
    <form id="id_form_userlogin" method="post" >{% csrf_token %}
        工号:<input type="text" name="num" placeholder="请输入四位数字" style="width:150px;height:30px"><br>
        名字:<input type="text" name="name" placeholder="请输入名字" style="width:150px;height:30px"><br>
        密码:<input type="password" name="password" placeholder="请输入四位数字" style="width:150px;height:30px"><br>
        确认密码:<input type="password" name="password" placeholder="请再次输入密码" style="width:150px;height:30px"><br>
        <button id="id_userlogin" type="submit" formaction="/register/"  style="width:100px;height:45px;background-color:deepskyblue">确认登陆</button>
    </form>
</body>
</html>