asgi-redis==1.4.1
asgiref==1.1.2
asn1crypto==0.22.0
attrs==17.2.0
autobahn==17.6.1
Automat==0.6.0
backports-abc==0.5
bleach==2.0.0
cffi==0.8.6
channels==1.1.5
chardet==3.0.4
click==6.7
codebug-i2c-tether==0.2.3
codebug-tether==0.9.1
colorama==0.3.9
constantly==15.1.0
cryptography==0.6.1
daphne==1.3.0
decorator==4.0.11
Django==1.11.2
entrypoints==0.2.3
evento==1.0.1
factcheck==1.3.0.2
first==2.0.1
Flask==0.12.2
gpiozero==1.3.2
html5lib==0.999999999
hyperlink==17.2.0
idna==2.5
incremental==17.5.0
ipykernel==4.6.1
ipython==6.1.0
ipython-genutils==0.2.0
ipywidgets==6.0.0
itsdangerous==0.24
jedi==0.10.2
Jinja2==2.9.6
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.0.1
jupyter-console==5.1.0
jupyter-core==4.3.0
libusb1==1.6.4
MarkupSafe==1.0
mcpi==0.1.1
mistune==0.7.4
msgpack-python==0.4.8
nbconvert==5.2.1
nbformat==4.3.0
ndeflib==0.2.0
nfcpy==0.13.0
notebook==5.0.0
numpy==1.13.0
olefile==0.44
omxplayer-wrapper==0.2.3
optionaldict==0.1.1
pandocfilters==1.4.1
pbr==3.0.1
pexpect==4.2.1
pgzero==1.1
picamera==1.13
pickleshare==0.7.4
picraft==1.0
pifacecommon==4.2.1
pifacedigitalio==3.1.0
pigpio==1.35
Pillow==9.0.0
pip-tools==1.9.0
ply==3.4
prompt-toolkit==1.0.14
psutil==5.2.2
ptyprocess==0.5.1
py==1.4.34
pycparser==2.17
pyDes==2.0.1
pygame==1.9.2a0
Pygments==2.2.0
pygobject==3.14.0
pyinotify==0.9.6
pynfc==0.0.2
pyserial==2.6
pytest==3.1.2
python-apt==0.9.3.12
python-dateutil==2.6.0
python-debian==0.1.27
pytz==2017.2
pyzmq==14.4.0
qtconsole==4.3.0
quick2wire-api==0.0.0.2
redis==2.10.5
requests==2.4.3
rise==5.0.0
RPi.GPIO==0.6.3
RPIO==0.10.0
RTIMULib==7.2.1
sense-emu==1.0
sense-hat==2.2.0
simplegeneric==0.8.1
six==1.10.0
smbus==1.1
spidev==3.0
stevedore==1.23.0
terminado==0.6
testpath==0.3.1
thefuck==3.18
timeout-decorator==0.3.3
tornado==4.5.1
traitlets==4.3.2
twython==3.1.2
txaio==2.8.0
typing==3.6.1
urllib3==1.9.1
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
wcwidth==0.1.7
webencodings==0.5.1
wechatpy==1.4.1
Werkzeug==0.12.2
widgetsnbextension==2.0.0
xmltodict==0.11.0
zope.interface==4.4.2
